* {
    font-family: 'Roboto', sans-serif;font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
:root {
    --black-color: #000000;
}
.wrapper {
    max-width: 1376px;
    margin: 0 auto;
}
.top_bar {
    height: 51px;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.header_logo,
.nav_menu {
    display: flex;
    align-items: center;
    column-gap: 24px;
}
.header_logo{
    margin-left: 32px;
}
.n_m_lf {
    display: flex;
    align-items: center;
    column-gap: 24px;
}
.arrov{
    border: 2px solid #000000;
}
.nav_menu__item a {
    font-size: 16px;
    line-height: 24px;
    color: var(--black-color);
    text-decoration: none;
}
.btn_size {
    width: 163px;
    height: 54px;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 16px;
    line-height: 24px;
}
.navbtn {
    background: #0B2330;
    border: 1px solid #0B2330;
    color: #FFFFFF;
    margin-right: 32px;
}
.m_left {
    margin-left: 147px;
}
.header_wrap__content {
    display: flex;
    padding: 154px 0;
    justify-content: space-between;

}
.header_content__title {
    width: 436px;
    height: 256px;
    font-size: 60px;
    line-height: 64px;
    letter-spacing: 0.6px;
    color: #0B2330;
    margin-bottom: 32px;
}
.header_content__text {
    width: 435px;
    font-size: 22px;
    line-height: 32px;
    color: #375361
}
.header_content__butn {
    display: flex;
    margin-left: 147px;
    margin-top: 38px;
}
.yellow_button {
    background: #F9C600;
    border: 1px solid #F9C600;
  }
.white_button {
    background: none;
    border: 1px solid #0B2330;
    margin-left: 16px;
}
.blok_apl {
    flex-direction: column;
}
.orange_background {
    position: absolute;
    top: 80px;
}
.imgvideo{
    position: relative;
    right: 102px;

}
h2 {
    font-size: 42px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.42px;
    color: #0B2330;
}
.trast_comp {
    width: 547px;
    height: 96px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 189px;
}

.logo_comp {
    width: 1192px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 59px;

}
.logo_comp img {
    width: 154px;
    height: 56px;
    padding-left: 80px;
}
.produkct_teams {
    width: 1376px;
    height: 494px;
    background: #51CEBC;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 192px;
    display: flex;
    justify-content: space-between;
}
h3 {
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.34px;
    color: #0B2330;
}
.produkct_teams img {
    margin-top: 80px;
}
.text_mr {
    width: 557px;
    height: 120px;
    margin-top: 144px;
    margin-right: 121px;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.34px;
    color: #0B2330;
}
.produkct_teams_con_text {
    margin-top: 35px;
    width: 553px;
    font-size: 22px;
    line-height: 32px;
    color: #0B2330;
}
.spring_makes {
    width: 711px;
    height: 80px;
    margin-top: 151px;
    margin-left: auto;
    margin-right: auto;
}
.img_analinica {
    width: 911px;
    height: 528px;
    margin-top: 57px;
    margin-right: auto;
    margin-left: auto;
}
.centr {
    width: 163px;
    height: 54px;
    margin-top: 113px;
    margin-left: auto;
    margin-right: auto;
}
.target_your {
    width: 1260px;
    height: 537px;
    margin-top: 160px;
    margin-right: 32px;
    margin-left: 148px;
    background: #BD78F0;
    border-radius: 10px;
    display: flex;

}
.text_target {
    width: 485px;
    height: 192px;
    margin-right: 103px;
    margin-top: 193px;
    font-size: 42px;
    line-height: 48px;
    letter-spacing: 0.42px;
    color: #0B2330;
}
.trast_content {
    width: 550px;
    height: 56px;
    margin-top: 39px;
}
.m_img__targe {

}